/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(180, 180, 245);
    height: 100vh;
    display: grid;
    place-items: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
